.right{
    float: right;
    display: inline;
    padding-right: 60px;
    padding-top: 60px;
}
.right i{
    font-size: 2em!important;
    color: white;
}
.float-right{
    float: right;
    position: relative;
}
.left{
    display: inline;

}

.top-bar{
    background-color: #25525E;
    width: 100%;
    top: 0;
    padding: 1em 2em 2em 2em;
    font-weight: 100;
    font-size: 0.6em;

}


.top-bar span strong{
    color: white;
}

.right span{
    padding: 0em 0.5em;
    transition: 0.3s;
    color: white;
    cursor: pointer;
}

.right a:hover{
    color:rgba(1, 146, 64)!important;
    transition: 0.3s;
    text-decoration: none;
}